* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    359deg,
    rgba(150, 192, 255, 1) -17.7%,
    rgba(255, 180, 161, 1) 101.5%
  );
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #5c8285;
}

.main {
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__input {
    padding: 5px;
    width: 15em;
    margin-right: 5px;
    border: none;
    border-bottom: 2px solid #5c8285;
    background-color: transparent;
    outline: #5c8285;
    color: #5c8285;
  }

  &__button {
    padding: 5px;
    border-radius: 5px;
    background-color: #5c8285;
    border: 2px solid #5c8285;
    color: rgb(224, 220, 197);
    outline-color: rgb(224, 220, 197);
  }

  &__selectContainer {
    margin-top: 10px;
  }

  &__select {
    padding: 5px;
    border-radius: 5px;
    background-color: #5c8285;
    color: rgb(224, 220, 197);
    outline-color: rgb(224, 220, 197);
  }
}

.todoList {
  width: 270px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  &__item {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgba(245, 232, 177, 0.815);
    border: 2px #5c8285 dotted;
    color: #5c8285;
    border-radius: 5px;
    font-size: 12px;

    &-btnCheck,
    &-btnTrash {
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-radius: 5px;
      color: rgb(90, 101, 102);
    }

    &-btnCheck {
      background-color: rgb(126, 218, 126);
      border: 3px double rgb(126, 218, 126);
      margin-right: 5px;
    }

    &-btnTrash {
      background-color: #7fa7aa;
      border: 3px solid #7fa7aa;
    }
  }
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  color: rgb(218, 64, 64);
}
